In [18]:
import pandas as pd
from pandas import Series
import numpy as np
import xgboost as xgb
from sklearn.model_selection import train_test_split, KFold, cross_val_score
from sklearn.multioutput import MultiOutputRegressor
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.metrics import mean_absolute_percentage_error, mean_squared_error, r2_score, mean_absolute_error, mean_squared_log_error
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import GradientBoostingRegressor
pd.options.display.float_format = '{:.2f}'.format
pd.set_option('display.float_format', '{:.5f}'.format)

In [3]:
village_list = []
village = pd.read_csv("village.csv")
for i in village["village"]:
    village_list.append(i)
# village_list

In [4]:
train_data = pd.read_excel("train.xlsx")
train_data

,area,probability,total pepple,rent,tax,MRT,count_school
0,民安里 101,0.00000,4847,450000.00000,2136759,3,0
1,民安里 102,0.07140,4815,140833.33330,2098791,3,0
2,民安里 103,0.00000,4841,378363.60000,2147729,3,0
3,民安里 104,0.00000,4781,159800.00000,2091282,3,0
4,民安里 105,0.00000,4735,185882.12500,2106819,3,0
...,...,...,...,...,...,...,...
289,新庄里103,0.00000,5231,45000.00000,1523155,0,0
290,新庄里104,0.00000,5264,77375.00000,1454065,0,0
291,新庄里105,0.00000,5300,34333.33333,1503319,0,0
292,新庄里106,0.00000,6798,70000.00000,1448754,0,0
293,新庄里107,0.00000,5178,77500.00000,1461192,0,0

In [5]:
village_list_time = []
for i in train_data["area"]:
    village_list_time.append(i)
village_list_time

['民安里 101',
 '民安里 102',
 '民安里 103',
 '民安里 104',
 '民安里 105',
 '民安里 106',
 '民安里 107',
 '康樂里101',
 '康樂里102',
 '康樂里103',
 '康樂里104',
 '康樂里105',
 '康樂里106',
 '康樂里107',
 '中山里101',
 '中山里102',
 '中山里103',
 '中山里104',
 '中山里105',
 '中山里106',
 '中山里107',
 '聚盛里101',
 '聚盛里102',
 '聚盛里103',
 '聚盛里104',
 '聚盛里105',
 '聚盛里106',
 '聚盛里107',
 '正守里101',
 '正守里102',
 '正守里103',
 '正守里104',
 '正守里105',
 '正守里106',
 '正守里107',
 '正義里101',
 '正義里102',
 '正義里103',
 '正義里104',
 '正義里105',
 '正義里106',
 '正義里107',
 '正得里101',
 '正得里102',
 '正得里103',
 '正得里104',
 '正得里105',
 '正得里106',
 '正得里107',
 '集英里101',
 '集英里102',
 '集英里103',
 '集英里104',
 '集英里105',
 '集英里106',
 '集英里107',
 '聚葉里101',
 '聚葉里102',
 '聚葉里103',
 '聚葉里104',
 '聚葉里105',
 '聚葉里106',
 '聚葉里107',
 '中吉里101',
 '中吉里102',
 '中吉里103',
 '中吉里104',
 '中吉里105',
 '中吉里106',
 '中吉里107',
 '中原里101',
 '中原里102',
 '中原里103',
 '中原里104',
 '中原里105',
 '中原里106',
 '中原里107',
 '興亞里101',
 '興亞里102',
 '興亞里103',
 '興亞里104',
 '興亞里105',
 '興亞里106',
 '興亞里107',
 '埤頭里101',
 '埤頭里102',
 '埤頭里103',
 '埤頭里104',
 '埤頭里105',
 '埤頭里106',
 '埤頭里107',
 '朱崙里101',
 '朱崙里102',
 '朱崙里103',
 '朱崙里104',
 '朱崙里105',
 '朱崙里106',
 '朱崙里107',
 '力行里101',
 '力行里102',
 '力行里103',
 '力行里104',
 '力行里105',
 '力行里106',
 '力行里107',
 '中央里101',
 '中央里102',
 '中央里103',
 '中央里104',
 '中央里105',
 '中央里106',
 '中央里107',
 '朱馥里101',
 '朱馥里102',
 '朱馥里103',
 '朱馥里104',
 '朱馥里105',
 '朱馥里106',
 '朱馥里107',
 '龍洲里101',
 '龍洲里102',
 '龍洲里103',
 '龍洲里104',
 '龍洲里105',
 '龍洲里106',
 '龍洲里107',
 '朱園里101',
 '朱園里102',
 '朱園里103',
 '朱園里104',
 '朱園里105',
 '朱園里106',
 '朱園里107',
 '新福里101',
 '新福里102',
 '新福里103',
 '新福里104',
 '新福里105',
 '新福里106',
 '新福里107',
 '松江里101',
 '松江里102',
 '松江里103',
 '松江里104',
 '松江里105',
 '松江里106',
 '松江里107',
 '行孝里101',
 '行孝里102',
 '行孝里103',
 '行孝里104',
 '行孝里105',
 '行孝里106',
 '行孝里107',
 '下埤里101',
 '下埤里102',
 '下埤里103',
 '下埤里104',
 '下埤里105',
 '下埤里106',
 '下埤里107',
 '江寧里101',
 '江寧里102',
 '江寧里103',
 '江寧里104',
 '江寧里105',
 '江寧里106',
 '江寧里107',
 '江山里101',
 '江山里102',
 '江山里103',
 '江山里104',
 '江山里105',
 '江山里106',
 '江山里107',
 '新生里101',
 '新生里102',
 '新生里103',
 '新生里104',
 '新生里105',
 '新生里106',
 '新生里107',
 '中庄里101',
 '中庄里102',
 '中庄里103',
 '中庄里104',
 '中庄里105',
 '中庄里106',
 '中庄里107',
 '行政里101',
 '行政里102',
 '行政里103',
 '行政里104',
 '行政里105',
 '行政里106',
 '行政里107',
 '行仁里101',
 '行仁里102',
 '行仁里103',
 '行仁里104',
 '行仁里105',
 '行仁里106',
 '行仁里107',
 '復華里101',
 '復華里102',
 '復華里103',
 '復華里104',
 '復華里105',
 '復華里106',
 '復華里107',
 '金泰里101',
 '金泰里102',
 '金泰里103',
 '金泰里104',
 '金泰里105',
 '金泰里106',
 '金泰里107',
 '北安里101',
 '北安里102',
 '北安里103',
 '北安里104',
 '北安里105',
 '北安里106',
 '北安里107',
 '恆安里101',
 '恆安里102',
 '恆安里103',
 '恆安里104',
 '恆安里105',
 '恆安里106',
 '恆安里107',
 '成功里101',
 '成功里102',
 '成功里103',
 '成功里104',
 '成功里105',
 '成功里106',
 '成功里107',
 '永安里101',
 '永安里102',
 '永安里103',
 '永安里104',
 '永安里105',
 '永安里106',
 '永安里107',
 '大佳里101',
 '大佳里102',
 '大佳里103',
 '大佳里104',
 '大佳里105',
 '大佳里106',
 '大佳里107',
 '新喜里101',
 '新喜里102',
 '新喜里103',
 '新喜里104',
 '新喜里105',
 '新喜里106',
 '新喜里107',
 '晴光里101',
 '晴光里102',
 '晴光里103',
 '晴光里104',
 '晴光里105',
 '晴光里106',
 '晴光里107',
 '圓山里101',
 '圓山里102',
 '圓山里103',
 '圓山里104',
 '圓山里105',
 '圓山里106',
 '圓山里107',
 '劍潭里101',
 '劍潭里102',
 '劍潭里103',
 '劍潭里104',
 '劍潭里105',
 '劍潭里106',
 '劍潭里107',
 '大直里101',
 '大直里102',
 '大直里103',
 '大直里104',
 '大直里105',
 '大直里106',
 '大直里107',
 '新庄里101',
 '新庄里102',
 '新庄里103',
 '新庄里104',
 '新庄里105',
 '新庄里106',
 '新庄里107']

In [6]:
train_data.index = village_list_time
train = train_data.drop(["area"], axis=1)
train

         probability  total pepple         rent      tax  MRT  count_school
民安里 101      0.00000          4847 450000.00000  2136759    3             0
民安里 102      0.07140          4815 140833.33330  2098791    3             0
民安里 103      0.00000          4841 378363.60000  2147729    3             0
民安里 104      0.00000          4781 159800.00000  2091282    3             0
民安里 105      0.00000          4735 185882.12500  2106819    3             0
...              ...           ...          ...      ...  ...           ...
新庄里103       0.00000          5231  45000.00000  1523155    0             0
新庄里104       0.00000          5264  77375.00000  1454065    0             0
新庄里105       0.00000          5300  34333.33333  1503319    0             0
新庄里106       0.00000          6798  70000.00000  1448754    0             0
新庄里107       0.00000          5178  77500.00000  1461192    0             0

[294 rows x 6 columns]

## X_train

In [7]:
X_train = train.drop(["probability"], axis=1)
X_train

         total pepple         rent      tax  MRT  count_school
民安里 101          4847 450000.00000  2136759    3             0
民安里 102          4815 140833.33330  2098791    3             0
民安里 103          4841 378363.60000  2147729    3             0
民安里 104          4781 159800.00000  2091282    3             0
民安里 105          4735 185882.12500  2106819    3             0
...               ...          ...      ...  ...           ...
新庄里103           5231  45000.00000  1523155    0             0
新庄里104           5264  77375.00000  1454065    0             0
新庄里105           5300  34333.33333  1503319    0             0
新庄里106           6798  70000.00000  1448754    0             0
新庄里107           5178  77500.00000  1461192    0             0

[294 rows x 5 columns]

## Y_train

In [8]:
col_list = ["probability"]
Y_train = train_data[col_list]
train_data = train_data.drop(["probability"], axis=1)
Y_train

         probability
民安里 101      0.00000
民安里 102      0.07140
民安里 103      0.00000
民安里 104      0.00000
民安里 105      0.00000
...              ...
新庄里103       0.00000
新庄里104       0.00000
新庄里105       0.00000
新庄里106       0.00000
新庄里107       0.00000

[294 rows x 1 columns]

In [9]:
test_data = pd.read_csv("test_data.csv")
test_data

   village  probability  total pepple         rent      tax  MRT  count_school
0      民安里      0.00000          4553 123830.57140  1754879    3             0
1      康樂里      0.08330          2613   7500.00000   943002    0             0
2      中山里      0.00000          6851  78900.00000  2393322    0             0
3      聚盛里      0.00000          4209 101190.71430  1361132    0             0
4      正守里      0.00000          3322  52500.00000  1236901    0             0
5      正義里      0.00000          5297  53285.71429  1380200    0             0
6      正得里      0.00000          3711  90000.00000  1674992    0             0
7      集英里      0.00000          7443 124872.00000  2521107    7             3
8      聚葉里      0.00000          4052 320000.00000  1297945    2             1
9      中吉里      0.08330          5891  44000.00000  2476087    1             0
10     中原里      0.00000          5192  95000.00000  2173635    0             1
11     興亞里      0.00000          5389  84756.00000  2442373    3             2
12     埤頭里      0.00000          3313  45000.00000  1176159    0             1
13     朱崙里      0.00000          2952  77500.00000  1319157    0             0
14     力行里      0.16670          6180 225000.00000  3512846    3             2
15     中央里      0.08330          3787  74563.00000  1323969    2             2
16     朱馥里      0.00000          6061  41666.66667  1950638    0             0
17     龍洲里      0.00000          5084  93333.33333  1953570    0             0
18     朱園里      0.08330          4644 156855.57140  2490137    2             1
19     新福里      0.00000          5247  67056.00000  1555732    0             0
20     松江里      0.00000          6586  32000.00000  2487947    2             0
21     行孝里      0.08330          4216  65000.00000  1041059    0             0
22     下埤里      0.00000          7649 162086.00000  2605204    0             2
23     江寧里      0.00000          7117 134098.00000  2911184    1             0
24     江山里      0.08330          7643 114506.66670  2946296    0             1
25     新生里      0.08330          4934 139500.00000  1389517    1             1
26     中庄里      0.00000          5161  33500.00000  1552708    1             0
27     行政里      0.00000          7524  48028.00000  1612336    0             2
28     行仁里      0.00000          8304  70750.00000  1991181    0             0
29     復華里      0.25000          4813 106161.20000  2425416    2             1
30     金泰里      0.08330          8034  45000.00000  5168909    0             2
31     北安里      0.00000          2728  73698.62500   910013    1             0
32     恆安里      0.00000          5029  51828.00000  1949171    2             2
33     成功里      0.16670          7093 102397.25000  5128583    2             0
34     永安里      0.00000          9867  67500.00000  5665373    2             1
35     大佳里      0.00000          1107  74130.81250   206602    0             2
36     新喜里      0.00000          5381  46000.00000  1559018    0             0
37     晴光里      0.08330          5574  65909.00000  2328601    0             1
38     圓山里      0.00000          4338  95390.50000  1210718    2             3
39     劍潭里      0.00000          3822  74130.81250  1224400    0             2
40     大直里      0.00000          9603  30000.00000  3297918    1             2
41     新庄里      0.00000          5073  41000.00000  1124828    0             0

# X_test

In [10]:
test_data.index = village_list
X_test = test_data.drop(["village", "probability"], axis=1)
X_test

     total pepple         rent      tax  MRT  count_school
民安里          4553 123830.57140  1754879    3             0
康樂里          2613   7500.00000   943002    0             0
中山里          6851  78900.00000  2393322    0             0
聚盛里          4209 101190.71430  1361132    0             0
正守里          3322  52500.00000  1236901    0             0
正義里          5297  53285.71429  1380200    0             0
正得里          3711  90000.00000  1674992    0             0
集英里          7443 124872.00000  2521107    7             3
聚葉里          4052 320000.00000  1297945    2             1
中吉里          5891  44000.00000  2476087    1             0
中原里          5192  95000.00000  2173635    0             1
興亞里          5389  84756.00000  2442373    3             2
埤頭里          3313  45000.00000  1176159    0             1
朱崙里          2952  77500.00000  1319157    0             0
力行里          6180 225000.00000  3512846    3             2
中央里          3787  74563.00000  1323969    2             2
朱馥里          6061  41666.66667  1950638    0             0
龍洲里          5084  93333.33333  1953570    0             0
朱園里          4644 156855.57140  2490137    2             1
新福里          5247  67056.00000  1555732    0             0
松江里          6586  32000.00000  2487947    2             0
行孝里          4216  65000.00000  1041059    0             0
下埤里          7649 162086.00000  2605204    0             2
江寧里          7117 134098.00000  2911184    1             0
江山里          7643 114506.66670  2946296    0             1
新生里          4934 139500.00000  1389517    1             1
中庄里          5161  33500.00000  1552708    1             0
行政里          7524  48028.00000  1612336    0             2
行仁里          8304  70750.00000  1991181    0             0
復華里          4813 106161.20000  2425416    2             1
金泰里          8034  45000.00000  5168909    0             2
北安里          2728  73698.62500   910013    1             0
恆安里          5029  51828.00000  1949171    2             2
成功里          7093 102397.25000  5128583    2             0
永安里          9867  67500.00000  5665373    2             1
大佳里          1107  74130.81250   206602    0             2
新喜里          5381  46000.00000  1559018    0             0
晴光里          5574  65909.00000  2328601    0             1
圓山里          4338  95390.50000  1210718    2             3
劍潭里          3822  74130.81250  1224400    0             2
大直里          9603  30000.00000  3297918    1             2
新庄里          5073  41000.00000  1124828    0             0

## Y_test

In [11]:
Y_test = test_data[col_list]
test_data = test_data.drop(["probability"], axis=1)
Y_test

     probability
民安里      0.00000
康樂里      0.08330
中山里      0.00000
聚盛里      0.00000
正守里      0.00000
正義里      0.00000
正得里      0.00000
集英里      0.00000
聚葉里      0.00000
中吉里      0.08330
中原里      0.00000
興亞里      0.00000
埤頭里      0.00000
朱崙里      0.00000
力行里      0.16670
中央里      0.08330
朱馥里      0.00000
龍洲里      0.00000
朱園里      0.08330
新福里      0.00000
松江里      0.00000
行孝里      0.08330
下埤里      0.00000
江寧里      0.00000
江山里      0.08330
新生里      0.08330
中庄里      0.00000
行政里      0.00000
行仁里      0.00000
復華里      0.25000
金泰里      0.08330
北安里      0.00000
恆安里      0.00000
成功里      0.16670
永安里      0.00000
大佳里      0.00000
新喜里      0.00000
晴光里      0.08330
圓山里      0.00000
劍潭里      0.00000
大直里      0.00000
新庄里      0.00000

In [12]:
scaler_train_x = MinMaxScaler()
X_train_norm = scaler_train_x.fit(X_train)
#X_train_norm
X_train_scaled = X_train_norm.transform(X_train)

X_test_norm = X_train_norm.transform(X_test)

scaler_train_y = MinMaxScaler()
Y_train_norm = scaler_train_y.fit(Y_train)

Y_train_scaled = Y_train_norm.transform(Y_train)

Y_test_norm = Y_train_norm.transform(Y_test)
#scaler_test_x = MinMaxScaler()
#X_test_norm = scaler_test_x.fit_transform(X_test)

In [19]:
GBR = GradientBoostingRegressor()
GBR

GradientBoostingRegressor()

In [21]:
parameters = {'learning_rate': [0.01,0.02,0.03,0.04],
              'subsample'    : [0.9, 0.5, 0.2, 0.1],
              'n_estimators' : [100,500,1000, 1500],
              'max_depth'    : [4,6,8,10]
             }

In [23]:
grid_GBR = GridSearchCV(estimator=GBR, param_grid = parameters, cv = 2, n_jobs=-1)
grid_GBR.fit(X_train_scaled, Y_train_scaled)

C:\Users\Frank\anaconda3\lib\site-packages\sklearn\ensemble\_gb.py:437: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GridSearchCV(cv=2, estimator=GradientBoostingRegressor(), n_jobs=-1,
             param_grid={'learning_rate': [0.01, 0.02, 0.03, 0.04],
                         'max_depth': [4, 6, 8, 10],
                         'n_estimators': [100, 500, 1000, 1500],
                         'subsample': [0.9, 0.5, 0.2, 0.1]})

In [24]:
print(" Results from Grid Search " )
print("\n The best estimator across ALL searched params:\n",grid_GBR.best_estimator_)
print("\n The best score across ALL searched params:\n",grid_GBR.best_score_)
print("\n The best parameters across ALL searched params:\n",grid_GBR.best_params_)

 Results from Grid Search

 The best estimator across ALL searched params:
 GradientBoostingRegressor(learning_rate=0.01, max_depth=4, subsample=0.1)

 The best score across ALL searched params:
 -0.04127859719165128

 The best parameters across ALL searched params:
 {'learning_rate': 0.01, 'max_depth': 4, 'n_estimators': 100, 'subsample': 0.1}

In [14]:
other_params = {"learning_rate":0.01, "n_estimators":1000, "max_depth":3,
                "min_child_weight":2, "seed":0, "subsample":0.2, "colsample_bytree":0.8,
                "gamma":0, "reg_alpha":0, "reg_lambda":0}

In [15]:
model = xgb.XGBRegressor(objective='reg:squarederror', random_state=42, **other_params).fit(X_train_scaled, Y_train_scaled)
y_pred = model.predict(X_test_norm)
y_train_pred = model.predict(X_train_scaled)
print(y_pred)
re_y_pred = Y_train_norm.inverse_transform(y_pred.reshape(-1,1))
print(re_y_pred)

[ 0.12534429  0.179578    0.0673417   0.01691435  0.02428245  0.08078755
  0.1495919  -0.02240247  0.0217765  -0.0121378   0.11075989  0.08359816
  0.01487773  0.0085609   0.12089393  0.00214579  0.02457717  0.08765499
  0.05330579  0.04578309  0.08335128  0.05372816 -0.0373738   0.06994367
  0.18979795 -0.03300139  0.09080274  0.02501178  0.06463007  0.05288928
  0.09598356  0.02169634  0.03248505  0.02409307  0.05805913  0.07914729
  0.01187058  0.00857767  0.10665149  0.04350031  0.09681378  0.07126689]
[[ 0.05372256]
 [ 0.07696714]
 [ 0.02886265]
 [ 0.00724949]
 [ 0.01040746]
 [ 0.03462555]
 [ 0.06411508]
 [-0.0096017 ]
 [ 0.00933341]
 [-0.00520226]
 [ 0.04747169]
 [ 0.03583017]
 [ 0.00637659]
 [ 0.0036692 ]
 [ 0.05181514]
 [ 0.00091968]
 [ 0.01053377]
 [ 0.03756893]
 [ 0.02284686]
 [ 0.01962263]
 [ 0.03572436]
 [ 0.02302789]
 [-0.01601841]
 [ 0.02997786]
 [ 0.08134741]
 [-0.01414439]
 [ 0.03891805]
 [ 0.01072005]
 [ 0.02770045]
 [ 0.02266834]
 [ 0.04113855]
 [ 0.00929905]
 [ 0.01392309]
 [ 0.01032629]
 [ 0.02488414]
 [ 0.03392253]
 [ 0.00508773]
 [ 0.00367639]
 [ 0.04571083]
 [ 0.01864423]
 [ 0.04149438]
 [ 0.03054499]]

In [16]:
y_pred = pd.DataFrame(y_pred, columns=["output"],dtype=float)
y_pred

     output
0   0.12534
1   0.17958
2   0.06734
3   0.01691
4   0.02428
5   0.08079
6   0.14959
7  -0.02240
8   0.02178
9  -0.01214
10  0.11076
11  0.08360
12  0.01488
13  0.00856
14  0.12089
15  0.00215
16  0.02458
17  0.08765
18  0.05331
19  0.04578
20  0.08335
21  0.05373
22 -0.03737
23  0.06994
24  0.18980
25 -0.03300
26  0.09080
27  0.02501
28  0.06463
29  0.05289
30  0.09598
31  0.02170
32  0.03249
33  0.02409
34  0.05806
35  0.07915
36  0.01187
37  0.00858
38  0.10665
39  0.04350
40  0.09681
41  0.07127

In [17]:
mae = mean_absolute_error(Y_test, re_y_pred)
mse = mean_squared_error(Y_test, re_y_pred)
rmse = np.sqrt(mse)
r2 = r2_score(Y_train, y_train_pred)
# rmsle = np.sqrt(mean_squared_log_error(Y_test, y_pred))
# mape = np.mean(np.abs((Y_test, y_pred) /Y_test)) * 100
print(f"mae : {mae}")
print(f"mse : {mse}")
print(f"rmse : {rmse}")
print(f"r2 : {r2}")
# print(f"rmsle : {rmsle}")
# print(f"mape : {mape}")

mae : 0.0423636669198672
mse : 0.003708537394880667
rmse : 0.06089776182160283
r2 : 0.10890250596101514